#dashboard {
	display: grid;
	grid-template-areas:
		"liveChat startGame liveFeed"
		"console robotControl liveFeed";
	grid-template-rows: 400px 300px;
	grid-template-columns: 19vw 40vw 40vw;
}
/* block design */
.liveFeed {
	grid-area: liveFeed;
}
.startGame {
	grid-area: startGame;
}
.liveChat {
	grid-area: liveChat;
}
.console {
	grid-area: console;
}
.robotControl {
	grid-area: robotControl;
}
/* border block design */
.neonBlock1B {
	padding: 15px;
	border: 2px solid var(--team1B);
	box-shadow: 0 0 10px var(--team1B);
	border-radius: 1px;
	margin: 10px;
	background: var(--dark);
	text-align: center;
}
/* tags */
#dashboard h1 {
	color: var(--white);
}

/* stop the bot / panicButton */
#panicButton {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#panicButton .bigStop {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#panicButton button {
	display: block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
	background: var(--dark);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 10px var(--red);
	transition: all 0.35s;
}
#panicButton .icon {
	width: 50px;
	height: 50px;
	position: absolute;
	transform: rotate(45deg);
	right: 0;
	box-shadow: 0 0 10px transparent;
	top: 0;
	z-index: -1;
	transition: all 0.35s;
}
#panicButton .icon i {
	width: 30px;
	position: absolute;
	top: calc(50% - 17px);
	left: calc(50% - 12px);
	color: var(--red);
	font-size: 30px;
	transform: rotate(-45deg);
	transition: all 0.35s;
}
#panicButton button:hover {
	width: 200px;
	box-shadow: 0 0 10px var(--red);
	background: transparent;
	color: var(--red);
}
#panicButton button:hover + .icon {
	box-shadow: 0 0 10px var(--red);
	right: -25%;
}

/* startGame block */

#startGameBlock {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#startGameBlock td,
#startGameBlock th {
	border: 1px solid #ddd;
	padding: 8px;
}
#startGameBlock tr:nth-child(even) {
	background-color: var(--gray);
}
#startGameBlock tr:nth-child(odd) {
	background-color: var(--light);
}
#startGameBlock .top-line th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--team1B);
	text-transform: uppercase;
	width: 25%;
	color: var(--white);
}
#startGameBlock .side-line th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--team1B);
	color: var(--white);
}
#startGameBlock .fa-stop {
	color: var(--red);
}
#startGameBlock .fa-play {
	color: var(--green);
}
