@media screen and (min-width: 1101px) {
	#dashboard {
		display: grid;
		grid-template-areas:
			"startGame liveFeed"
			"startGame liveFeed"
			"console liveFeed";
		grid-template-columns: 40vw 59vw;
	}
}
@media screen and (max-width: 1100px) {
	#dashboard {
		display: grid;
		grid-template-areas:
			"startGame"
			"liveFeed"
			"console";
		margin-top: 90px;
	}
}
/* block design */
.liveFeed {
	grid-area: liveFeed;
}
.startGame {
	grid-area: startGame;
}
.console {
	grid-area: console;
}
/* border block design */
.neonBlock1B {
	padding: 15px;
	border: 2px solid var(--team1B);
	box-shadow: 0 0 10px var(--team1B);
	border-radius: 1px;
	margin: 10px;
	background: var(--dark);
	text-align: center;
}
/* tags */
#dashboard h1 {
	color: var(--white);
}

/* stop the bot / panicButton */
#panicButton {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#panicButton .bigStop {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#panicButton button {
	display: block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
	background: var(--dark);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 10px var(--red);
	transition: all 0.35s;
}
#panicButton .icon {
	width: 50px;
	height: 50px;
	position: absolute;
	transform: rotate(45deg);
	right: 0;
	box-shadow: 0 0 10px transparent;
	top: 0;
	z-index: -1;
	transition: all 0.35s;
}
#panicButton .icon i {
	width: 30px;
	position: absolute;
	top: calc(50% - 17px);
	left: calc(50% - 12px);
	color: var(--red);
	font-size: 30px;
	transform: rotate(-45deg);
	transition: all 0.35s;
}
#panicButton button:hover {
	width: 200px;
	box-shadow: 0 0 10px var(--red);
	background: transparent;
	color: var(--red);
}
#panicButton button:hover + .icon,
#panicButton button + .icon:hover {
	box-shadow: 0 0 10px var(--red);
	right: -25%;
	z-index: 1;
}

#startButton {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#startButton .bigStart {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#startButton button {
	display: block;
	width: 250px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;
	background: var(--dark);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 10px var(--green);
	transition: all 0.35s;
}
#startButton .icon {
	width: 50px;
	height: 50px;
	position: absolute;
	transform: rotate(45deg);
	right: 0;
	box-shadow: 0 0 10px transparent;
	top: 0;
	z-index: -1;
	transition: all 0.35s;
}
#startButton .icon i {
	width: 30px;
	position: absolute;
	top: calc(50% - 17px);
	left: calc(50% - 12px);
	color: var(--green);
	font-size: 30px;
	transform: rotate(-45deg);
	transition: all 0.35s;
}
#startButton button:hover {
	width: 200px;
	box-shadow: 0 0 10px var(--green);
	background: transparent;
	color: var(--green);
}
#startButton button:hover + .icon,
#startButton button + .icon:hover {
	box-shadow: 0 0 10px var(--green);
	right: -25%;
	z-index: 1;
}
