<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^([a-zA-Z0-9/_-]*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_URI}" pattern="^streams/.*" negate="true" />
						<add input="{HTTPS}" pattern="off" />
					</conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="index.php/error" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="index.php/error" responseMode="ExecuteURL" />
        </httpErrors>
        <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
            <mimeMap fileExtension=".log" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
