* {
	--primaryColor: #d92626;
	--secondaryColor: #e56969;

	/* Button colors */
	--buttonColor: red;
	--buttonHoverColor: red;
	--gradientButton: radial-gradient(circle, var(--primaryColor) 0%, var(--secondaryColor) 100%);
	--gradientButtonHover: radial-gradient(circle, var(--primaryColor) 0%, var(--secondaryColor) 100%);

	/* Send colors */
	--sendColor: green;
	--sendHoverColor: green;
	
	/* Glow */
	--glowColor: #d92626;
	--glowLightColor: rgb(207, 207, 207);	

	--logoBodyColor:  #c0202e;
	--logoWingsColor: #7a020d;
	--logoEyesColor:  #64020c;
}

h2 {
	color: whitesmoke;
	margin-bottom: 0;
	font-weight: bold;
}
p {
	margin-bottom: 0;
}
.Ctitels {
	font-size:120% ;
}
.titleinf1c {
	padding-left: 50px;
}

.madeby {
	color: #d92626;
}
.neonBlock {
	background-color: black;
	margin: 25px 0;
}

.neonBlock.header {
	border: none;
    width: max-content;
    height: max-content;
	background-color: #ef181873;
}

input, textarea {
	padding: 0 13px;
	width: 100%;
	border: none;
	resize: none;

}


.container_3d {
	height: 100%;
	perspective: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transform-style: preserve-3d;
  width: 100%;
  padding: 0rem 5rem;
  background-color: black;
}

.brokko {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brokko img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: radial-gradient(circle, var(--primaryColor) 0%, var(--secondaryColor) 100%);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
	text-align: center;
}
.info h3 {
	text-align: center;

  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: whitesmoke;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.ready {
  margin: 2rem;
  transition: all 0.75s ease-out;
}
.ready button {
  width: 100%;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

label { 
	width: 100%;
}