@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Lexend", sans-serif;
	font-weight: normal;
	color: white;

	--primaryColor: #37167e;
	--secondaryColor: #280f5f;
	--dark: rgb(15, 15, 15);
	--white: #ffffff;

	/* Team colors */
	--team1A: #f9c901;
	--team1B: #28478f;
	--team1C: #d92626;
	--team1D: #57c511;
	--team1E: #e0e0e0;

	/* Button colors */
	--buttonColor: #550de8;
	--buttonHoverColor: #37167e;
	--gradientButton: radial-gradient(
		circle,
		var(--primaryColor) 0%,
		var(--secondaryColor) 100%
	);
	--gradientButtonHover: radial-gradient(circle, #451e97 0%, #331475 100%);

	/* Send colors */
	--sendColor: #6d6d6d;
	--sendHoverColor: #9c9c9c;

	/* Input colors */
	--placeholder: rgb(180, 180, 180);
	--inputColor: rgb(61, 61, 61);
	--inputText: white;

	/* Glow */
	--glowColor: #380ece;
	--glowLightColor: rgb(207, 207, 207);

	/* Line width */
	--animatedLines: 5px;

	/* Scrollbar */
	--scollbarColor: #ffc40000;
	--scollbarHoldColor: #7c7c7c;
	--scollbarHoverColor: #d1d1d1;

	/* Tables */
	--tableEven: #3c0c9c15;
	--tableOdd: #3c0c9c15;
	--tableHead: #560de8b9;

	/* Videoplayer */
	--plyr-color-main: var(--primaryColor);

	/* Logo */
	--logoBodyColor: #5f3fa2;
	--logoWingsColor: #341963;
	--logoEyesColor: #281552;
	--logoBackdropColor: #fff;
}

/* Algemene items */

html,
body {
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}

hr {
	width: 100%;
	margin: 15px 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scollbarColor);
}

::-webkit-scrollbar-thumb {
	background: var(--scollbarHoldColor);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scollbarHoverColor);
}

::-moz-selection {
	background: var(--glowColor);
	color: white;
}
::selection {
	background: var(--glowColor);
	color: white;
}

.noPadding {
	padding: 0;
}

.topPadding {
	padding-top: 100px;
}

iframe {
	height: 100%;
	border: 0;
}

.zoom {
	transition: transform 0.2s;
}
.zoom:hover {
	transform: scale(1.05);
}
.langChange {
	display: flex;
	align-items: center; 
	padding: 0 !important; 
	margin: 0 20px !important;
}

.grecaptcha-badge { 
    visibility: hidden;
}

#contentPages{
	position: relative;
}

@media only screen and (max-width: 740px) {
	#contentPages{
		padding-bottom: 150px;
	}

}


footer{
	display: none !important;
}

/* Button styling */

button.button {
	padding: 10px 30px;
	border: none;
	color: white;
	font-weight: bold;
	background: var(--gradientButton);
	outline: 0;
	border: 0;
}
button.button.small {
	padding: 5px 25px;
	margin-right: 10px;

}
button.button:hover {
	cursor: pointer;
	animation: buttonHover 0.3s ease-in-out forwards;
}
button.button.poll {
	padding: 5px 15px;
	margin: 0;
}

a.button {
	padding: 13px 30px;
	border: none;
	color: white;
	font-weight: bold;
	background: var(--gradientButton);
	text-decoration: none;
	font-size: 0.8em;
}

a.button:hover {
	cursor: pointer;
	animation: buttonHover 0.3s ease-in-out forwards;
}

a.alternative-button {
	color: white;
	font-weight: bold;
	border: 3px solid var(--buttonColor);
	text-decoration: none;
	font-size: 0.8em;
	padding: 10px 20px !important;
	margin: 0 20px;
	background-color: #0f0f0fad;
}

a#send {
	background-color: var(--sendColor);
	padding: 10px 15px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
	animation-name: send;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

a#send:hover {
	animation-name: sendHover;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/* Input elementen */

input,
input:focus,
input:active {
	border: 0;
	-webkit-appearance: none;
	outline: -webkit-focus-ring-color auto 0;
}

::placeholder {
	color: var(--placeholder);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--placeholder);
}

::-ms-input-placeholder {
	color: var(--placeholder);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
	padding: 0 13px;
	background-color: var(--inputColor);
	color: var(--inputText);
	height: 42px;
}

input[type="radio"] {
	-webkit-appearance: radio;
	width: 20px;
	height: 20px;
	opacity: 1;
	cursor: pointer;
	margin: 5px;
}

select {
	background-color: var(--inputColor);
	color: var(--inputText);
	border: 0;
	height: 42px;
	padding: 0 13px;
	outline: none;
}

textarea:focus,
input:focus,
input:active,
select:focus,
select:active {
	outline: none;
	border: 0;
}

/* Tables */

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border: 0;
}

th {
	font-weight: bold;
	background-color: var(--tableHead);
}

td,
th {
	border: 0;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: var(--tableEven);
}

tr:nth-child(odd) {
	background-color: var(--tableOdd);
}

/* Blocks */

.neonBlock {
	padding: 15px;
	border: 2px solid var(--glowColor);
	box-shadow: 0 0 10px var(--glowColor);
	border-radius: 1px;
	margin: 10px;
}

.neonBorder {
	border: 2px solid var(--glowColor);
	box-shadow: 0 0 10px var(--glowColor);
	border-radius: 1px;
}

/* All keyframes */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes send {
	from {
		background-color: var(--sendHoverColor);
	}
	to {
		background-color: var(--sendColor);
	}
}

@keyframes sendHover {
	to {
		background-color: var(--sendHoverColor);
		box-shadow: 0 0 10px var(--glowLightColor);
	}
}

@keyframes button {
	from {
		background: var(--gradientButtonHover);
		transform: scale(1.05);
	}
	to {
		background: var(--gradientButton);
	}
}

@keyframes buttonHover {
	to {
		background: var(--gradientButtonHover);
		box-shadow: 0 0 10px var(--glowColor);
		transform: scale(1.05);
	}
}

/* Background website */

#background {
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--dark);
	overflow: hidden;
	position: fixed;
	z-index: -10;
}

.lines {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Animation 1 */

.line1 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line1;
	animation-duration: 9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
}

@keyframes line1 {
	0% {
		width: var(--animatedLines);
		height: 0;
		left: 40%;
		top: 0;
	}
	10% {
		width: var(--animatedLines);
		left: 40%;
		height: calc(100vh / 15);
		top: 0;
		background-color: var(--glowColor);
	}
	25% {
		height: var(--animatedLines);
		top: calc(calc(100vh / 15) - var(--animatedLines));
		left: 40%;
		width: var(--animatedLines);
	}
	50% {
		top: calc(calc(100vh / 15) - var(--animatedLines));
		width: 40%;
		left: 0;
		height: var(--animatedLines);
		background-color: var(--primaryColor);
	}
	100% {
		top: calc(calc(100vh / 15) - var(--animatedLines));
		left: 0;
		width: 0;
		height: var(--animatedLines);
		background-color: var(--glowColor);
	}
}

/* Animation 2 */

.line2 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line2;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes line2 {
	0% {
		width: 0;
		height: var(--animatedLines);
		right: 0;
		top: 50vh;
	}
	15% {
		width: 20%;
		right: 0;
		background-color: var(--glowColor);
	}
	25% {
		top: 50vh;
		width: var(--animatedLines);
		right: calc(20% - var(--animatedLines));
		height: var(--animatedLines);
	}
	50% {
		height: calc(50vh);
		top: 0;
		width: var(--animatedLines);
		right: calc(20% - var(--animatedLines));
		background-color: var(--primaryColor);
	}
	100% {
		height: 0;
		right: calc(20% - var(--animatedLines));
		top: 0;
		width: var(--animatedLines);
		background-color: var(--glowColor);
	}
}

/* Animation 3 */

.line3 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line3;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

@keyframes line3 {
	0% {
		right: 0;
		top: 15%;
		width: 0;
		height: var(--animatedLines);
		background-color: var(--glowColor);
	}
	10% {
		right: 0;
		top: 15%;
		width: 0;
		height: var(--animatedLines);
		background-color: var(--glowColor);
	}
	55% {
		right: 0;
		background-color: var(--primaryColor);
	}
	60% {
		top: 15%;
		width: 10%;
		height: var(--animatedLines);
	}
	100% {
		background-color: var(--glowColor);
		right: calc(10% - var(--animatedLines));
		top: 15%;
		width: 0;
		height: var(--animatedLines);
	}
}

/* Animation 4 */

.line4 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line4;
	animation-duration: 7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}

@keyframes line4 {
	0% {
		width: var(--animatedLines);
		height: 0;
		top: 0;
		left: 60%;
		background-color: var(--glowColor);
	}
	15% {
		width: var(--animatedLines);
		height: 25%;
		top: 0;
		left: 60%;
	}
	30% {
		width: var(--animatedLines);
		height: var(--animatedLines);
		top: calc(25% - var(--animatedLines));
		left: 60%;
	}
	45% {
		background-color: var(--primaryColor);
		width: 30%;
		left: 30%;
		top: calc(25% - var(--animatedLines));
		height: var(--animatedLines);
	}
	60% {
		width: var(--animatedLines);
		left: 30%;
		top: calc(25% - var(--animatedLines));
		height: var(--animatedLines);
	}
	75% {
		width: var(--animatedLines);
		left: 30%;
		top: calc(25% - var(--animatedLines));
		height: 75%;
	}
	100% {
		width: var(--animatedLines);
		left: 30%;
		top: 100%;
		height: 0;
		background-color: var(--glowColor);
	}
}

/* Animation 5 */

.line5 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line5;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 3.5s;
}

@keyframes line5 {
	0% {
		bottom: 0;
		right: 35%;
		width: var(--animatedLines);
		height: 0;
		background-color: var(--glowColor);
	}
	25% {
		bottom: 0;
		width: var(--animatedLines);
		height: 18%;
		right: 35%;
	}
	50% {
		bottom: calc(18% - var(--animatedLines));
		width: var(--animatedLines);
		height: var(--animatedLines);
		right: 35%;
		background-color: var(--primaryColor);
	}
	75% {
		bottom: calc(18% - 10 - var(--animatedLines)) px;
		width: 35%;
		right: calc(-1 * var(--animatedLines));
		height: var(--animatedLines);
	}
	100% {
		bottom: calc(18% - var(--animatedLines));
		width: 0;
		right: calc(-1 * var(--animatedLines));
		height: var(--animatedLines);
		background-color: var(--glowColor);
	}
}

/* Animation 6 */

.line6 {
	position: absolute;
	background-color: var(--primaryColor);
	box-shadow: 0 0 10px var(--glowColor);

	animation-name: line6;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 0.2s;
}

@keyframes line6 {
	0% {
		bottom: 0;
		left: 10%;
		height: 0;

		width: var(--animatedLines);
		background-color: var(--glowColor);
	}
	20% {
		bottom: 0;
		left: 10%;
		height: 75%;
	}
	40% {
		bottom: calc(75% - var(--animatedLines));
		left: 10%;
		height: var(--animatedLines);
		width: var(--animatedLines);
	}
	60% {
		left: 0;
		width: 10%;
	}
	80% {
		width: 10%;
	}
	100% {
		bottom: calc(75% - var(--animatedLines));
		left: 0;
		height: var(--animatedLines);
		width: 0;
		background-color: var(--glowColor);
	}
}


/* toast */
.toast {
	min-width: 300px;
}
.toastContainer {
	position: fixed;
	top: 27px;
	right: 20px;
	z-index: 1;
}

.toast img {
	/* width: 30px; */
	object-fit: cover;
	height: 1.5rem;
}
.toast strong {
	margin-left: 10px;
	margin-right: 10px;
	color: black;
}
.toast span {
	color: black;
}
.toast-button-holder {
	display: flex;
}
#placeToast {
	position: absolute;
	top: 0;
	max-height: calc(100vh - 40px);
	right: 0;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#placeToast::-webkit-scrollbar {
	display: none;
}