.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}
.nav > #menu,
.nav > #alternative-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.nav>#logo {
	width: 100px;
}

.nav > ul {
	z-index: 100;
}

#right-wing {
	pointer-events: none;
	transform: translateX(0px);
	transition: all 1s;
	stroke: var(--logoWingsColor);
}

#left-wing {
	pointer-events: none;
	transform: translateX(0px);
	transition: all 1s;
	stroke: var(--logoWingsColor);
}

#logo-body { 
	stroke: var(--logoBodyColor); 
	fill: var(--logoBodyColor);
}

#eyes-background {
	stroke: var(--logoBackdropColor); 
}

#eyes { 
	fill: var(--logoEyesColor); 
	paint-order: stroke fill markers;
}



#logo:hover #right-wing {
	transform: translateX(3px);
}

#logo:hover #left-wing {
	transform: translateX(-3px);
}
.nav> ul {
	z-index: 100;
}
.nav>#menu>li,
.nav>#alternative-menu>li {
	list-style-type: none;
	display: table-cell;
	position: relative;
	padding: 20px 0;
}

.nav > #menu > li a,
.nav > #alternative-menu > li a,
.nav > #menu > li > div {
	color: white;
	padding: 20px 10px;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	margin: 0 5px;
}
.dropdown-content a {
	display: block;
}

.nav > #menu > li > a:after,
.nav > #alternative-menu > li > a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	position: absolute;
	background: var(--buttonColor);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.nav > #menu > li > a:hover:after,
.nav > #alternative-menu > li > a:hover:after {
	width: 100%;
	left: 0;
	text-decoration: none;
}

.alternative-button:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 0 !important;
	left: 50%;
	position: absolute;
	background: var(--buttonColor);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.alternative-button:hover:after {
	width: 100%;
	left: 0;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	color: white;
	font-weight: bold;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	color: white;
	text-align: left;
	padding: 12px 0;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	margin-top: 0;
}

.dropdownLink {
	font-weight: bold;
}

.dropdown-content a {
	font-weight: 400;
	font-size: 1em !important;
	padding: 5px 0 !important;
	min-width: 160px !important;
}

.dropdown-content a:hover {
	color: rgb(160, 160, 160) !important;
}

.language {
	font-size: 1.5em;
}

/* TOP NAV MOBILEBURGER */
.mobileBurger {
	cursor: pointer;
}

.mobileBurger div {
	height: 3px;
	width: 25px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

.mobileBurger.active div:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.mobileBurger.active div:nth-child(2) {
	opacity: 0;
}

.mobileBurger.active div:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 1050px) {
	.container,
	.container-md,
	.container-sm {
		max-width: unset;
	}

	.nav > #menu > li,
	.nav > #alternative-menu > li,
	.nav > #menu > li a {
		padding: 0;
	}

	body.active {
		overflow: hidden;
		height: 100vh;
	}
	.dropdown {
		padding: 0;
		text-align: center;
	}
	.dropdown-content > a  {
		text-align: center;
	}

	/* RESPONSIVE NAVBAR */
	#navbar {
		padding: 0;
		position: relative !important;
		z-index: 1 !important;
	}

	.nav > #logo {
		margin-left: 35px;
	}

	#navbar.active {
		background-color: var(--primaryColor);
	}

	.dropdown-content {
		display: unset;
		position: unset;
	}

	.dropdown:hover .dropdown-content {
		display: unset;
	}

	.nav ul {
		position: absolute;
		top: 100px;
		height: calc(100vh - 100px) !important;
		margin: 0;
		width: 100%;
		background-color: var(--primaryColor);
		display: flex;
		flex-direction: column;
		transform: translateY(-150%) !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		transition: transform 0.4s ease-in;
		opacity: 1;
	}

	#menu.active {
		opacity: 1;
		transform: translateY(0%) !important;
	}

	::-webkit-scrollbar {
		display: none;
	}

	#menu{
		overflow: hidden;
		height: 0;
	}
	
	.active #menu{
		height: 100vh;
	}

}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@media (min-width: 1050px) {
	.mobileBurger {
		display: none;
	}
}

.alternative-button span {
	font-weight: bold;
}

#logout {
	position: relative;
	transition: 0.3s;
}

#logout:hover span:nth-child(1) {
	animation: fadeout 0.5s forwards;
}

#logout:hover span:nth-child(2):after {
	animation: fadein 0.5s linear;
	content: "Logout";
	position: absolute;
	left: 0;
	top: 18%;
	text-align: center;
	width: 100%;
	height: 100%;
}