#neoBlockContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
	text-align: center;
}
#neoBlockContainer input[type="text"],
#neoBlockContainer input[type="password"] {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

#neoBlockContainer input[type="checkbox"] {
	-webkit-appearance: auto;
}
#neoBlockContainer button[type="submit"] {
	padding: 0 13px;
	background-color: var(--inputColor);
	color: var(--inputText);
	height: 42px;
}
