#songIndicator {
    position: fixed;
    bottom: 15px;
    left: 15px;
    animation: ease moveIn 1.5s;
}

#songIndicator > svg {
    width: 500px;
}

#songIndicator.closed > svg > #left-eye {
    animation: ease-in-out leftEye 1.5s;
}

#songIndicator.closed > svg > #right-eye {
    animation: ease-in-out rightEye 1.5s;
}

#songIndicator.closed > svg > g > g > g > #clipped > #right-wing{
    transform: translateX(0px);
}

.playcase{
    fill: var(--accentcolor);
    filter: saturate(2);
}

.playcase-stop {
    stop-color: var(--accentcolor);
    filter: saturate(2);
}

#right-wing {
    transform: translateX(30px);
    transition: ease-in-out all 1.5s;
    --accentcolor: #8b7ea7;
    --overlaying-accentcolor: #ffffff;
}

#right-wing text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6px;
    fill: var(--overlaying-accentcolor);
    overflow: hidden;
}

#right-wing #title {
    font-weight: bold;
}

#right-eye {
    transform-origin: 13.5435px 13.229px;
    transform: rotate(0deg) translateX(0px);
}

#right-eye {
    transform-origin: 13.5435px 13.229px;
    transform: rotate(0deg) translateX(0px);
}

#left-eye {
    transform-origin: 13.5435px 13.229px;
    transform: rotate(0deg) translateX(0px);
}

@keyframes moveIn {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes rightWing {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes rightEye {
    0% {
        transform: translateX(0px);
    }
    35% {
        transform: rotate(0deg) translateX(-1.8px);
    }
    65% {
        transform: rotate(360deg) translateX(-1.8px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes leftEye {
    0% {
        transform: translateX(0px);
    }
    35% {
        transform: rotate(0deg) translateX(1.8px);
    }
    65% {
        transform: rotate(360deg) translateX(1.8px);
    }
    100% {
        transform: translateX(0px);
    }
}