#brackets{
    margin: 0 0 35px 0;
    color: white;
    z-index: -9;
}

@media (min-width: 1050px) {
    #brackets {
        margin: 0 0 35px 0;
    }
}

#brackets > .title{
    font-weight: bold;
}

#bracketsHolder{
    position: relative;
    transition: ease height 1s;
    height: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.match{
    --height: 92px;
    --width: 209px;
    --padding: 3px;
    height: var(--height);
    width: var(--width);
    position: absolute;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50% auto;
    grid-gap: 3px;
    padding: var(--padding);
    animation: opening 1.5s;
    overflow: hidden;
}

.match.closing{
    height: 0;
    width: 0;
    padding: 0;
    animation: closing 1s;
    opacity: 0;
}

.match > .teamLabel{
    transition: ease opacity 2s, ease color 2s;
    background-color: var(--secondaryColor);
    opacity: 1;
    grid-column: 2;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

.match > .teamLabel:empty{
    color: rgba(255, 255, 255, 0)
}

.match > .teamLabel.top{
    grid-row:1;
}

.match > .teamLabel.bottom{
    grid-row:2;
}

.match > .teamLabel.lost{
    opacity: 0.5;
}

.match > .matchId{
    background-color: var(--primaryColor);
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#scoreboard{
    --height: 492px;
    --width: 428px;
    --padding: 3px;
    position: relative;
    height: var(--height);
    width: var(--width);
    animation: opening 1.5s;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#scoreboard.closing{
    height: 0;
    width: 0;
    padding: 0;
    animation: closing 1s;
    opacity: 0;
}

.scoreRow{
    height: 100%;
    margin: 0;
    display: flex;

    transition: ease opacity 1s;
}

.scoreRow:not(:first-child){
    margin-top: 3px;
}

#scoreboard > .scoreRow.heading{
    background-color: var(--primaryColor);
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.scoreRow > .num{
    background-color: var(--primaryColor);
    min-width: 50px;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.scoreRow > .time{
    min-width: 75px;
    max-width: 75px;
    font-size: 18px;
}

.scoreRow > .time:not(:last-child){
    margin-right: 3px;
}

.scoreRow.heading > .time{
    min-width: 75px;
    max-width: 75px;
    font-size: 30px;
}

.scoreRow > .game{
    background-color: var(--secondaryColor);
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 3px;
    font-size: 30px;
    white-space: nowrap;
}

.scoreRow > .game.tot{
    background-color: var(--primaryColor);
    margin: 0;
}

.scoreRow > .team{
    background-color: var(--primaryColor);
    margin: 0;
    white-space: nowrap;
}

.scoreRow.heading > .game{
    background-color: var(--primaryColor);
}

.scoreRow.heading > .team{
    background-color: var(--primaryColor);
}

#scoreboard > .scoreRow > .place{
    align-self: start;
}

#scoreboard > .scoreRow > .score{
    align-self: end;
}

.scoreRow > .team{
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--secondaryColor);
    height: 100%;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.scoreRow > .team:first-child{
    margin-left: 0;
    background-color: var(--primaryColor);
}

.scoreRow:not(.heading) > .num:not(:first-child).time:not(:last-child){
    background-color: var(--secondaryColor);
}

.lapdisplay > .scoreRow:not(.selected):not(.heading) {
    opacity: 0.5;
}

#leaderboard{
    --height: 492px;
    --width: 900px;
    --padding: 3px;
    position: relative;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--width);
    animation: opening 1.5s;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#leaderboard.closing{
    height: 0;
    width: 0;
    padding: 0;
    animation: closing 1s;
    opacity: 0;
}

.lapdisplay{
    --height: 492px;
    --width: 730px;
    --padding: 3px;
    height: var(--height);
    width: var(--width);
    position: absolute;
    padding: var(--padding);
    animation: opening 1.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.lapdisplay.closing{
    height: 0;
    width: 0;
    padding: 0;
    animation: closing 1s;
    opacity: 0;
}

.starBorder {
    stroke: var(--glowColor);
    filter: url(#strokeGlow);
    fill-opacity: 0;
}

.starDisplay {
    --width: 760px;
    --height: 380px;
    --padding: 10px;
    --starFillColor: var(--glowColor);
    height: var(--height);
    width: var(--width);
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    animation: opening 1.5s;
    overflow: hidden;
}

.starDisplay.closing{
    height: 0;
    width: 0;
    padding: 0;
    animation: closing 1s;
    opacity: 0;
}

.starColumn {
    display: flex;
    flex-direction: row;
}

.starName {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 50px;
}

.stars {
    display: flex;
    flex-direction: column;
}

.buttonBox {
    width: 60px;
    height: 60px;
    min-height: 60px;
    background: var(--buttonHoverColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    opacity: 1;
    transition: ease all 0.5s;
}

.buttonBox:not(.locked):hover {
    border-radius: 15px;
    cursor: pointer;
    background: var(--glowColor);
}

.phaseHolder {
    position: fixed;
    bottom: 35px;
    right: 35px;
    display: flex;
    max-height: 60px;
}

.buttonBox.locked {
    opacity: 0.3;
}

.buttonBox > i {
    font-size: large;
}

@keyframes opening {
    0% {
        height: 0;
        width: 0;
        padding: 0;
    }
    50% {
        height: var(--height);
        width: 0;
        padding: var(--padding) 0 var(--padding) 0;
    }
    50.00000000001% {
        height: var(--height);
        width: 0;
        padding: var(--padding) 0 var(--padding) var(--padding);

    }
    100% {
        height: var(--height);
        width: var(--width);
        padding: var(--padding);
    }
}

@keyframes closing {
    0% {
        height: var(--height);
        width: var(--width);
        padding: var(--padding);
        opacity: 1;
    }
    49.99999999999% {
        height: var(--height);
        width: 0;
        padding: var(--padding) 0 var(--padding) var(--padding);
        opacity: 1;
    }
    50% {
        height: var(--height);
        width: 0;
        padding: var(--padding) 0 var(--padding) 0;
        opacity: 1;
    }
    80% {
        height: 0;
        width: 0;
        padding: 0;
        opacity: 1;
    }
    100% {
        height: 0;
        width: 0;
        padding: 0;
        opacity: 0;
    }
}