/* Livestream */

#livestream{
    margin: 100px 0 0 0;
    color: white;
    min-height: 60vh;
	z-index: -9;
}

#livestream > .title{
    font-weight: bold;
}

video#livestreamVideo{
	width: 100%;
}

#liveChat{
	width: 100%;
	height: 100%;
	padding: 10px 0;
}

.chatStyle{
	background-color: rgba(7, 7, 7, 0.65);	
	overflow-y: scroll;
}

.message{
	width: 100%;
}

.user,
.message{
	width: 100%;
	display: inline-block;
	word-break: break-word;
}

.user{
	font-weight: bold;
	color: var(--white);
	font-size: .9em;
	padding: 0 15px 0 0;
	display: flex;
	align-items: baseline;
}

p.message {
    display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	font-size: .9em;
	width: 100%;
	color: var(--placeholder);	
	font-style: italic;
}

.avatar{
	color: var(--buttonColor);
	font-size: 1.1em;
}

.messageContent{
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
}

.sendMessage{
	padding: 0;
}

#sendMessage{
	width: 85%;
}

#send{
	width: 15%;
	padding: 0;
	margin: 0;
}