.livestream {
	padding-top: 3vw;
	color: white;
	min-height: 60vh;
	z-index: -9;
}

.livestream > .title {
	font-weight: bold;
}

video#livestreamVideo {
	min-height: 25vw !important;
	object-fit: cover;
}


.chatStyle {
	background-color: rgba(7, 7, 7, 0.65);
	overflow-y: scroll;
}

.message {
	width: 100%;
}

.user,
.message {
	width: 100%;
	display: inline-block;
	word-break: break-word;
}

.user {
	justify-content: flex-start;
	font-weight: bold;
	color: var(--white);
	font-size: 0.9em;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

p.message {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	text-align: right;
	justify-content: flex-start;
	font-size: 0.9em;
	text-align: left;
	/* flex-wrap: wrap; */
	width: 100%;
	color: var(--placeholder);
	font-style: italic;
}

.avatar {
	color: var(--buttonColor);
	font-size: 1.1em;
}

.messageContent {
	display: grid;
	grid-template-rows: 30px;
}

#sendMessage {
	width: 100%;
	position: relative;
}

#sendMessage > input[type="text"] {
	width: 100%;
}

.send {
	padding: 15px;
	margin-top: 12px;
	color: white;
	min-width: 50px;
	text-align: center;
	right: 0;
}

.input-icons i {
	position: absolute;
}

.input-icons:hover {
	cursor: pointer;
}

.input-icons {
	width: 100%;
}

i.far.fa-trash-alt {
	padding-left: 12px;
	padding-bottom: 1px;
	color: #ce4444;
}

i.far.fa-trash-alt:hover {
	cursor: pointer;
}
