#email{
    min-width: 300px;
}

.neonBlock > div{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    margin-left: 10px;
}