/* Container */
#gameRules {
	color: white;
	overflow: hidden;
}

.title {
	font-weight: bold;
}

.title{
	font-weight: bold;
}

/* Game block */
.gameBlock > .row {
	min-height: 80vh;
	margin: 20px 0;
}

h4.gameTitle {
	font-weight: bold;
}

.gameDescription {
	height: fit-content;
	padding: 25px;
}

.neonBorder {
	background: #0f0f0fa6;
}

/* Game photo */
.gameBlock img, i {
	max-height: 500px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.gamePhoto img {
	max-width: 100%;
}

.gamePhoto i {
	color: var(--primaryColor);
}

.photoRight {
	padding-left: 100px;
}

/* Game description */
.gameDescription h4 {
	padding-bottom: 20px;
}

.gameDescription h5 {
	padding-top: 20px;
}

.scoreTable td {
	padding-right: 20px;
}

@media screen and (max-width: 900px) {
	.photoRight {
		padding-left: 0;
	}
}
@media screen and (max-width: 575px) {
	/* Game block */
	.gameBlock > .row {
		display: grid;
		grid-template-areas:
			"gamePhoto"
			"gameDescription";
	}
	.gamePhoto {
		grid-area: gamePhoto;
	}
	.gameDescription {
		grid-area: gameDescription;
	}

	.gamePhoto i {
		font-size: 5.2rem;
	}

	.gamePhoto {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
