/* Home */

.main {
	margin-top: 100px;
}
.title {
	color: #fff;
	font-weight: bold;
}
.intro {
	color: #fff;
}
.img {
	position: absolute;
	max-width: 87%;
	padding-bottom: 5rem;
	padding-right: 3rem;
	margin-left: 3rem;
	animation: move 2s ease-in-out infinite;
	border-radius: 30%;
}


.img:last-child{
	opacity: 0;
	transition: .8s;
}

.img:last-child:hover{
	opacity: 1;
}

.img:hover #ESP{
	opacity: 0;
}



.countdowncontainer {
	margin-top: -50px;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.countdown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	list-style-type: none;
}
.countdownli {
	margin-right: 5%;
}

@keyframes move {
	0% {
		top: 0;
		left: 0;
	}
	50% {
		top: 5px;
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
	}
}