.gameRulesContainer p, h4, ul, table, tr {
	color: var(--white);
}

.gameRulesContainer {
	padding-top: 20px;
}

.gameRulesSection {
	padding-top: 50px;
	padding-bottom: 150px;
}

.gameRulesImage {
	width: 75%;
	margin-left: 120px;
}

.gameRulesExplanation {
	display: flex;
}

.gameTitle {
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: 120px;
}

.neon {
	width: 100%;
	padding-left: 150px;
}

.neonBlock {
	margin: 0px;
	border-right: none;
	height: 100%;
}

.gameRules {
	margin: 25px;
}

.scoreTable td {
	padding-right: 10px;
}


@media screen and (max-width: 900px) {
	.gameRulesSection {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.gameTitle {
		margin: 0;
		display: flex;
		justify-content: center;
	}

	.neon {
		padding: 0;
		padding-top: 30px;
	}

	.gameRulesImage {
		margin: 0;
		width: 100%;
	}
}