.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

h4, p {
	color:white;
}

#gameRules {
    margin: 70px 0 0 0;
    color: white;
    overflow: hidden;
}

.gameBlock {
	left: -5px;
}

.gameBlock > .row{
    min-height: 100vh;
    margin: 80px 0;
}


/*Gamerules*/
.gameDescription {
	height: fit-content;
	padding: 25px;
}

/*gamePhoto*/
.gameRulesImage {
	background-color: red;
	height: 300px;
}

.gamePhoto {
    display: flex;
    align-items: flex-start;
}

.gameBlock img {
    width: 50%;
}

.neonBorder {
    background: #0f0f0fa6;
}


@media screen and (max-width: 900px) {
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}

	.photoLeft {
		text-align: center;
	}
}