/* Live stream */
#livestreamContainer {
	margin-top: 100px;
    color: white;
    min-height: 60vh;
}

.title {
	font-weight: bold;
	padding-bottom: 50px;
}

/* Countdown next game */
.nextGameTimer {
	border-left: 1px solid grey;
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
}

.nextGameTimer th, tr {
	border-bottom: 1px solid grey;
	width: 70px;
}


/* Live video */
#liveVideoContainer video {
	width: 100%;
}

#cameraButtons {
	padding-bottom: 20px;
}

#cameraButtons button {
	margin-right: 20px;
}

/*Live chat */
.liveChatContainer {
	background-color: red;
}

/*Game details */
.container-fluid {
	padding: 0;
}

#gameDetailsContainer p, h3 {
	color: white;
}

.gameDetailsSection {
	min-height: 200px;
	margin-top: 10px;
}

.neonBlock {
	background-color: #0f0f0fa6;
}

#currentGameDetails {
	margin-left: -1px;
}

/* Game icons */
.gameDetailIcons {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fa-info-circle, .fa-poll {
	padding-left: 20px;
	padding-right: 20px;
}

/* Dialog icons */
#dialogContent {
	padding-right: 50px;
}

#closeDialogButton {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 990px) {
	.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 50px;
	}

	#currentGameDetails {
		margin-left: 0px;
		margin-bottom: 50px;
	}

	.block {
		margin-bottom: 50px;
	}

	#livestreamContainer h2 {
		text-align: center;
	}
	
	#dialogContent {
		padding: 10px;
	}

	.gameDetailsSection {
		margin: 0;
	}

	dialog {
		position: inherit;
	}
}