h1{
	color: white;
}

h2{
	font-size: 20px;
	text-align: left;
}

#kaders{
	margin-bottom: 10px;
	width: 70px;
	margin-top: 10px;
}

#grotetekst{
	font-size: 50px;
}

.container3delen{
	z-index: 1000000;
	text-align: center;
	padding: 20px;
	display: grid;
	grid-template-columns: 15% 5% 80%;
}

.aftellenlinks{
	height: 100%;
	width: 90%;
	grid-column: span 1 / -3;
	margin-bottom: 5%;
	margin-left: 15%;
	text-align: center;
	padding-top: 20px;
}

.speelschematabelrechts{
	background-color: black;
	height: 85%;
	width: 90%;
	grid-column: span 1 / -1;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-top: 100px;
	text-align: center;
}

h2, p, th, td{
	color: white;
}

table, th, td{
	border: 1px solid grey;
}

#speelschemapaars{
	background-color: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	width: 275px;
	margin-left: 20px;
}

#rechterkant{
	margin-left: 50px;
	margin-top: 30px;
}


@media screen and (max-width: 900px) {
	.container3delen{
		padding: 20px;
		text-align: center;
		display: grid;
		grid-template-columns: 5% 90% 5%;
	}

	.aftellenlinks{
		height: 100%;
		width: 100%;
		grid-column: span 1 / -2;
		margin-bottom: 5%;
		margin-left: 5%;
	}

	.kaderlinks{
		grid-template-columns: 33% 33% 33%;
		display: grid;
	}

	.naastelkaarlinks{
		grid-column: span 1 / -3;
	}

	.naastelkaarmidden{
		grid-column: span 1 / -2;
	}

	.naastelkaarrechts{
		grid-column: span 1 / -1;
	}

	.speelschematabelrechts{
		height: 100%;
		width: 100%;
		grid-column: span 1 / -2;
		margin-bottom: 5%;
		margin-left: 5%;
	}

	.speelschematabelrechts, .neonBlock{
		margin-top: 1px;
	}

	#rechterkant{
		margin-left: 5%;
	}