@font-face {
	font-family: CeraPro, sans-serif;
	src: url(../font/Cera_Pro_medium.otf);
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "CeraPro", sans-serif;
	font-weight: normal;
	--primaryColor: #37167e;
	--secondaryColor: #280f5f;
	--dark: #151515;
	--white: #ffffff;

	/* Button colors */
	--buttonColor: #550de8;
	--buttonHoverColor: #37167e;	
	--gradientButton: radial-gradient(circle, var(--primaryColor) 0%, var(--secondaryColor) 100%);
	--gradientButtonHover: radial-gradient(circle, #451e97 0%, #331475 100%);

	/* Send colors */
	--sendColor: #6d6d6d;
	--sendHoverColor: #9c9c9c;

	/* Input colors */
	--placeholder: rgb(180, 180, 180);
	--inputColor: rgb(61, 61, 61);
	--inputText: white;

	/* Glow */
	--glowColor: #380ece;
	--glowLightColor: rgb(207, 207, 207);
}

/* Algemene items */

html,
body{
	width: 100vw;
	min-height: 100vh;	
	background-color: rgb(22, 22, 22);
	overflow-x: hidden;
}

hr{
	width: 100%;
	margin: 15px 0;
}

/* Button styling */

button.button{
	padding: 12.5px 30px;
	border: none;
	color: white;
	font-weight: bold;
	background: var(--gradientButton);
	animation: button .2s ease-in-out forwards;
}

button.button:hover{
	cursor: pointer;
	animation: buttonHover .2s ease-in-out forwards;
}

a.button{	
	padding: 12.5px 30px;
	border: none;
	color: white;
	font-weight: bold;
	background: var(--gradientButton);
	animation: button .2s ease-in-out forwards;
	text-decoration: none;
	font-size: .8em;
}

a.button:hover{
	animation-name: buttonHover;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation: buttonHover .2s ease-in-out forwards;
}

a#send{
	background-color: var(--sendColor);
	padding: 10px 15px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
	animation-name: send;
	animation-duration: .2s;	
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	text-decoration: none;
}

a#send:hover{
	animation-name: sendHover;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/* Input elementen */

input,
input:focus,
input:active{
	border: 0;
	-webkit-appearance: none;
	outline: -webkit-focus-ring-color auto 0px;
}

::placeholder {
	color: var(--placeholder);
	opacity: 1; 
}
  
:-ms-input-placeholder {
	color: var(--placeholder);
}
  
::-ms-input-placeholder {
	color: var(--placeholder);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
	padding: 0 13px;
    background-color: var(--inputColor);
    color: var(--inputText);
    height: 42px;
}

input[type="radio"]{
	-webkit-appearance: radio;
	width: 20px;
	height: 20px;	
	opacity: 1;
	cursor: pointer;
	margin: 5px;
}
  
/* Blocks */

.neonBlock{	
	padding: 15px;
	border: 2px solid var(--glowColor);
    box-shadow: 0 0 10px var(--glowColor);
	border-radius: 1px;
	margin: 10px;
}

.neonBorder{	
	border: 2px solid var(--glowColor);
    box-shadow: 0 0 10px var(--glowColor);
	border-radius: 1px;
}

/* All keyframes */

@keyframes fadein {
    from { 
		opacity: 0; 
	}
    to{ 
		opacity: 1; 
	}
}

@keyframes send {
	from{
		background-color: var(--sendHoverColor);
	}
	to{
		background-color: var(--sendColor);
	}
}

@keyframes sendHover {
	to{
		background-color: var(--sendHoverColor);	
		box-shadow: 0 0px 10px var(--glowLightColor);
	}
}

@keyframes button {
	from{
		background: var(--gradientButtonHover);		
		transform: scale(1.05);
	}
	to {
		background: var(--gradientButton);
	}
}

@keyframes buttonHover {
	to {
		background: var(--gradientButtonHover);	
		box-shadow: 0 0px 10px var(--glowColor);		
		transform: scale(1.05);
	}
}