nav {
	display:flex;
	flex-direction:row;
	color: white;
}
.nav-link{
	text-decoration: none;
	color: white !important;
	font-size:150% ;
	opacity: 90% ;
}
.navbar-toggler {
	background-color: white;
	opacity:90%;
}
.navmargin {
	margin-left: 20%;
}

